body {
  background-color: #f6f6f6;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  position: absolute;
  top: 5vh;
  left: 35%;
  transform: translateX(-60%);
  text-align: center;
  font-size: 4vw;
}

.leader-board {
  display: flex;
  gap: 2rem;
  width: 60%;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recent-scores,
.add-score {
  width: 45%;
}

.recent-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.scores-container {
  list-style-type: none;
  padding: 0;
  border: 1px solid #ccc;
  height: 200px;
  overflow: auto;
}

button {
  height: 2rem;
  width: 6rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-top: 35px;
}

.submit-button {
  position: relative;
  top: -80px;
  right: -72px;
  align-self: flex-end;
  margin: auto;
}

input {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
